[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ThereNeedsToBeANameHereOrItDoesntWork
# This IS a path.
Exec=~/.cabal/bin/xmonad
NoDisplay=true
X-GNOME-WMName=Xmonad
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=false
