[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ThereNeedsToBeANameHereOrItDoesntWork
# This IS a path.
#
# The 'Exec' key spec:
#
# http://standards.freedesktop.org/desktop-entry-spec/latest/ar01s06.html
#
# But apparently '~' is not directly supported, because both of
#
#   Exec=~/.cabal/bin/xmonad
#   Exec="~/.cabal/bin/xmonad"
#
# don't work.  According to that documentation, '~' is a "reserved
# character" and should be quoted, but they don't explain how path
# expansion happens.  The '~' does expand to the user's $HOME, as can
# be verified with
#
#   Exec=sh -c "readlink -f ~ > /tmp/home-in-gnome.txt"
#
# but giving the '~' prefixed path results in "file not found" errors
# in ~/.xsession-errors.
#
# However, this works:
#
#   Exec=sh -c "~/.cabal/bin/xmonad"
#
# But just 'Exec=xmonad' suffices , since '~/.cabal/bin' is on my
# PATH, which is set-up before ~/.xsession is run.  The PATH is used
# to look up the 'Exec' program, according to the above docs.

# If I don't run 'xmonad' in the background like this, then
# 'gnome-session' fails after about a minute complaining that
# 'local-xmonad-windowmanager-provider' failed to register. I'm not
# sure what it means to "register" ...
#
# UPDATE: I added a startup script, '~/.xmonad/startup-hook.sh', which
# registers xmonad following an AskUbuntu question (linked to in that
# script). Now I can use 'Exec=xmonad' again, but it doesn't seem to
# have any benefits over the simpler 'Exec=sh -c "xmonad &"' solution.
#
# UPDATE: my PATH is inexplicably no longer setup when the 'Exec'
# command runs, so going back to the full path solution. I also notice
# that logging out doesn't work now -- gnome exits but xmonad does
# not, or at least, my windows don't close -- but I don't know if this
# is related to using the shell to start xmonad (I think it's not
# related, since I think I also had this problem on another laptop,
# which probably wasn't using this updated config yet). Using 'zsh'
# instead of 'sh' or 'bash', in hopes of my PATH being correctly set
# for the runnig 'xmonad' process, so that e.g. 'Mod-q' works to
# restart Xmonad.
Exec=zsh -c 'xmonad'
NoDisplay=true
X-GNOME-WMName=Xmonad
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
# Setting this to 'true' might be required to make
# 'DESKTOP_AUTOSTART_ID' available.
#
#X-GNOME-Autostart-Notify=false
X-GNOME-Autostart-Notify=true
#X-Ubuntu-Gettext-Domain=gnome-panel-3.0
